:root {
  --branco-principal: #FFFFFF;
  --cinza-secundario: #C0C0C0;
  --botao: #ff00ff;
  --cor-de-fundo: #00030C;
  --fonte-principal: 'Inter';
  --botao-azul-efeito: #3c92fa;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

.principal {
  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.warnerbros.com.br%2Ffilmes%2Fmortal-kombat&psig=AOvVaw3RsgJV9JgpOHcoYDG_23Oj&ust=1693916829864000&source=images&cd=vfe&opi=89978449&ved=0CBAQjRxqFwoTCPCIx5T6kIEDFQAAAAAdAAAAABAD");
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__botao {
  background-color: var(--botao);
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-principal);
text-decoration: none;
display:block
}

strong{
color:#ff2ca0;
font-weight: bold;
}


img {
  width: 73%;
}

.botao_secundario {
 background-color: transparent;
 border: 2px solid var(--branco-principal)
}