:root {
  --branco-principal: #FFFFFF;
  --cinza-secundario: #C0C0C0;
  --botao: #ff00ff;
  --cor-de-fundo: #00030C;
  --fonte-principal: 'Inter';
  --botao-azul-efeito: #3c92fa;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

.principal {
  background-image: url("imgurl=https%3A%2F%2Fcdn-mk1.mortalkombat.com%2Froster%2Frain%2Fthumb-w.webp&tbnid=v_pAMHyaPDK-YM&vet=12ahUKEwiW5NOI-pCBAxXPTbgEHclmDB8QMygOegUIARCKAQ..i&imgrefurl=https%3A%2F%2Fwww.mortalkombat.com%2Fpt-br%2Fgame&docid=yvOLS4v5D3vEOM&w=800&h=800&q=mortal%20kombat&ved=2ahUKEwiW5NOI-pCBAxXPTbgEHclmDB8QMygOegUIARCKAQ");
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__botao {
  background-color: var(--botao);
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-principal);
text-decoration: none;
display:block
}

strong{
color:#ff2ca0;
font-weight: bold;
}


img {
  width: 73%;
}

.botao_secundario {
 background-color: transparent;
 border: 2px solid var(--branco-principal)
}